html {
    height: 100%;
}

body {
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* Mobil Cihazlar İçin Stiller */
@media (max-width: 768px) {
    body {
        height: auto;
    }
}

/* Buton Stilleri */
.btn,
.btn-black,
.btn-outline-black,
.shop-now-button {
    border-radius: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.btn-black,
.btn-outline-black,
.shop-now-button {
    min-width: 260px;
}

.btn-black,
.btn-outline-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* İkon Stilleri */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Diğer Stiller */
.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
}

.category-badge:hover .badge {
    background: #212529 !important;
    color: #c83e3e !important;
    font-size: 1.1rem; 
    padding: 0.75rem 1.5rem; 
}

.btt-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #000000; /* kenarlık ekledik */
    border-radius: 50%; /* düğmenin kenarlarını yuvarladık */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    z-index: 9999; /* Diğer içeriklerin üstünde olmasını sağlar */
}

.btt-button:hover {
    background-color: #f0f0f0;
}

.btt-link {
    text-decoration: none;
}

.btt-link i {
    font-size: 20px;
    color: #000000; /* ikon rengini belirledik */
}
.container-fluid {
    position: relative;
    z-index: 2;
}
/* Link ve Buton El İşareti Stilleri */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Arama Alanı Vurgusu Stilleri */
input[name='q']::placeholder {
    color: #aab7c4;
}

/* Footer Stilleri */
.footer {
    background-color: #dcdcdc;
    padding: 60px 0;
    color: #333;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #555;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #007bff;
}

.footer address {
    font-style: normal;
    color: #777;
    margin-top: 20px;
}

.footer address strong {
    color: #050505;
}

.footer h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Billboard Stilleri */
#billboard {
    padding: 100px 0;
}

#billboard .banner-content {
    padding: 20px;
}

#billboard h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
}

#billboard .image-holder img {
    max-width: 100%;
    height: auto;
}

/* Company Services Stilleri */
#company-services {
    background-color: #f9f9f9;
    padding: 50px 0;
}

#company-services .icon-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
}

#company-services .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#company-services p {
    font-size: 1rem;
    color: #777;
}

#company-services .icon-box-icon svg {
    width: 40px;
    height: 40px;
    fill: #007bff;
}
.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}