{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Sofa Project, Leather Sofas, Fabric Sofas, Sleeper Sofas, Chairs, Tables, Accessories, New Arrivals, Deals, Clearance.">
    <meta name="keywords"
        content="Sofa Project, leather sofas, fabric sofas, sleeper sofas, chairs, tables, accessories, new arrivals, deals, clearance, modern sofas, comfortable seating, home furniture, living room decor, sofa discounts">
    <meta name="google-site-verification" content="l8TE-EKxB2u-R2hBCWm35loqpe8ySsyqSXF3CtEIsaQ">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link type="image/png" sizes="16x16" rel="icon" href="{% static 'favicon/icons8-chef-16.png' %}">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/7e694a3053.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- favicon -->
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Zeit {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top text-white">
        <div id="topnav" class="row align-items-center py-2">
            <div class="col-12 col-lg-4 text-center text-lg-left my-2 my-lg-0">
                <a href="{% url 'home' %}"
                    class="navbar-brand d-flex align-items-center justify-content-center justify-content-lg-start text-white">
                    <img src="{% static 'images/logo.png' %}" alt="Logo"
                        class="mr-2 logo-img rounded-circle border border-white">
                    <h2 class="mb-0 logo-font"><strong>S</strong>ofa Core</h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-2 my-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group search-bar">
                        <input class="form-control search-input" type="text" name="q" placeholder="Search our site"
                            aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn search-button" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-2 my-lg-0 d-flex justify-content-center justify-content-lg-end">
                <ul class="list-inline list-unstyled my-0 d-flex align-items-center">
                    <li class="list-inline-item ml-3">
                        <a class="nav-link" aria-current="page" href="{% url 'wishlist' %}">
                            <div class="text-center">
                                <i class="fas fa-heart fa-2x"></i>
                                <p class="my-0 font-weight-bold text-white">Wishlist</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-inline-item dropdown">
                        <a class="nav-link text-white" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <i class="fas fa-user-circle fa-2x"></i> <!-- Increased icon size -->
                                <p class="my-0 font-weight-bold">My Account</p> <!-- Bold text -->
                            </div>
                        </a>
                        <div class="dropdown-menu border-0 shadow" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>

                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item ml-3">
                        <a class="nav-link {% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %}"
                            href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <i class="fas fa-shopping-cart fa-2x"></i> <!-- Increased icon size -->
                                <p class="my-0 font-weight-bold">
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-light">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center py-3 bg-dark text-white">
            <div class="col">
                <div id="banner-messages" class="d-inline-block">
                    <span class="banner-message mr-3">🚚 Free shipping on orders over
                        ${{ free_delivery_threshold }}!</span>
                    <span class="banner-message mr-3">🎉 20% off on your first order!</span>
                    <span class="banner-message">🛋️ Check out our new arrivals!</span>
                </div>
            </div>
        </div>
    </header>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const banner = document.getElementById('banner-messages');
            const messages = banner.querySelectorAll('.banner-message');
            let index = 0;

            function showNextMessage() {
                messages[index].style.display = 'none';
                index = (index + 1) % messages.length;
                messages[index].style.display = 'inline-block';
            }

            setInterval(showNextMessage, 3000); // Change message every 3 seconds
        });
    </script>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block wishlist %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

    <footer class="footer py-5 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="text-uppercase font-weight-bold">Categories</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'products' %}" class="text-white">All Products</a></li>
                        <li><a href="{% url 'products' %}?category=leather_sofas,fabric_sofas,sleeper_sofas"
                                class="text-white">All Sofas</a></li>
                        <li><a href="{% url 'products' %}?category=chairs,tables,accessories" class="text-white">All
                                Homeware</a></li>
                        <li><a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="text-white">All
                                Specials</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="text-uppercase font-weight-bold">Connect With Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://www.facebook.com/profile.php?id=61560026145460" class="text-white"><i
                                    class="fab fa-facebook-f mr-2"></i>Facebook</a></li>
                        <li><a href="https://twitter.com" class="text-white"><i
                                    class="fab fa-twitter mr-2"></i>Twitter</a></li>
                        <li><a href="https://instagram.com" class="text-white"><i
                                    class="fab fa-instagram mr-2"></i>Instagram</a></li>
                        <li><a href="https://linkedin.com" class="text-white"><i
                                    class="fab fa-linkedin mr-2"></i>LinkedIn</a></li>
                        <li><a href="mailto:info@example.com" class="text-white"><i
                                    class="far fa-envelope mr-2"></i>Email Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="text-uppercase font-weight-bold">Subscribe!</h5>
                    <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
                    <div id="mc_embed_signup">
                        <form
                            action="https://herokuapp.us13.list-manage.com/subscribe/post?u=8a7733b4d0823d72800d77db9&amp;id=383dd5cc20&amp;f_id=00c9c0e2f0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL" class="d-block">Email Address <span
                                            class="asterisk">*</span></label>
                                    <input type="email" name="EMAIL" class="required email form-control mb-2"
                                        id="mce-EMAIL" required>
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_8a7733b4d0823d72800d77db9_383dd5cc20" tabindex="-1"
                                        value="">
                                </div>
                                <div class="clear">
                                    <button type="submit" name="subscribe" id="mc-embedded-subscribe"
                                        class="btn btn-primary">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col text-center">
                    <p class="mb-0">&copy; 2024 Sofa. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>